body
{ 
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: inherit;
}
header
{
    margin: 0 auto;
    max-width: 82%;
    margin-bottom:120px;
}

nav
{
    max-width: 82%;
    margin: 40px auto 75px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li
{
    display: inline;
    margin-left: 40px;
}

/* .class */

/* NAV */

.navLeft
{
    display: inline;
    font-weight: bold;
}

.navRight
{
    color: rgba(194, 143, 49, 0.808);
    border: 1px solid;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
}

.navRight:hover
{
    color: white;
    background-color: rgba(194, 143, 49, 0.808);
}

.cross
{
    border: solid;
    border-radius: 50%;
    color: white;
    border-color: rgb(214, 140, 1);
    background-color: rgb(214, 140, 1);
    padding: 0 5px 1px 5px;

}

/* HEADER */

.contentHeader
{   
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textHeader
{
    color: rgb(51, 51, 51);
    width: 600px;
}

.bolderText
{
    font-size: 82px;
    font-weight: bold;
}

.subTextHeader
{
    margin-bottom:40px;
    color: rgb(45, 247, 230);
    font-size: 21px;
}

.buttonDemoContent
{
    display:flex;
    align-items: center;
}

.buttonDemo
{
    color: white;
    font-size: x-large;
    width: fit-content;
    border: solid rgb(243, 121, 7);
    background-color: rgb(243, 121, 7);
    border-radius: 6px;
    padding: 18px;
}

.textButtonDemo
{
    margin-left: 10px;
    font-size: x-large;
    color: rgb(45, 247, 230);
}

/* SECTION 1 */

.statsSection
{
    margin-bottom: 180px;
}

.fondOrange
{
    margin: 0 auto;
    padding-top: 100px;
    background-color: orange;
}

.img2
{
    display: block;
    margin: 0 auto;
}

.containerImage
{
    margin: 40px 90px 0px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerImage img
{
    opacity: 30%;
    width: 13%;
}

/* SECTION 2 */

.containerSection2
{
    margin: 0 40px 200px 40px;
    display: flex;
}

.subTextSection2
{
    font-size: x-large;
    color: #c0c0c0
}

.textSection2>div
{
    max-width: 80%;
    margin-bottom: 30px;
}

.linkMore
{
    font-size: large;
    color: rgb(243, 121, 7);
}

.linkMore img
{
    color:rgb(243, 121, 7);
    margin-left: 9px;
    width: 3%;
}

/* SECTION 3 */

.containerSection3
{
    margin-bottom: 200px;
}

.containerSection3 .bolderText
{
    max-width: 80%;
    margin: 0 auto 70px auto;
}

.box
{
    display: flex;
    justify-content: center;
}
.iconBox
{
    width: 30px;
    height: 30px;
    margin-bottom: 30px;

}

.nameBox
{
    font-size: xx-large;
    font-weight: bolder;
}

.box1, .box2, .box3
{
    padding: 40px 120px 70px 40px;
    margin: auto 20px;
    border: 1px solid;
    border-color: rgb(235, 222, 222, 0.73);
    border-radius: 4%;
}

.box ol
{
    padding-left: 15px;
    margin-bottom: 30px;
}


.box ol li
{
    padding-left: 5px;
    list-style: "\002713";  
    margin-bottom: 10px;  
}

.price
{
    display: inline;
    font-weight: bolder;
}

.price, .textPrice
{
    font-size: x-large  ;
    
}

.subTextPrice
{
    margin-top: 10px;
    margin-bottom: 45px;
    font-size: x-small;
}

.subTextPrice, .textPrice
{
    color:#c0c0c0;
}

.buttonGetThis
{
    width: 52%;
    color: rgb(243, 121, 7);
    border: 1px solid rgb(243, 121, 7);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 18px 0 18px 21px;
}

.buttonGetThis img
{
    margin-left: 9px;
    width: 12%;
}

.buttonGetThis:hover
{
    color:white;
    background-color:rgb(243, 121, 7); ;
}
/* SECTION 4 */

.containerSection4
{
    background-color: rgba(254,114,53,255);
    padding: 100px 0 300px 0;
}

.bolderTextSection4
{
    font-size: 73px;
    font-weight: bolder;
}
.bolderTextSection4, .subTextSection4
{
    margin: auto auto 20px auto;
    max-width: 81%;
    text-align: center;

}

.subTextSection4
{
    font-size: xx-large;
    margin-bottom: 45px;
}

.containerSection4 .buttonDemoContent
{
    display:flex;
    align-items: center;

}

.containerSection4 .buttonDemo
{
    margin:auto;    
    color: rgba(254,114,53,255);
    font-size: x-large;
    width: fit-content;
    border: solid white;
    background-color: white;
    border-radius: 6px;
    padding: 13px 26px 15px 26px;
}

.containerSection4 .textButtonDemo
{
    margin-left: 10px;
    font-size: x-large;
    color: white;
}

.containerSection4 img
{
    position: absolute;
    transform:translateY(-113px)
}

/* FOOTER */

.containerFooter
{
    font-weight: bold;
    font-size: x-large;
    margin: 80px auto 75px auto;
    display: flex;
    margin-left: 50px;
}

.footerPense
{
    margin-right: 80px;
}

.containerFooter .cross
{
    border: solid;
    border-radius: 50%;
    color: white;
    border-color: rgb(214, 140, 1);
    background-color: rgb(214, 140, 1);
    padding: 0 9px 3px 8px;
}

.newsletter, .links, .legal
{
   padding-left: 105px; 
}

.links ol, .legal ol
{
    padding-left: 0;
    margin-top: 40px;
}

.links ol li, .legal ol li
{    
    font-size: large;
    margin-bottom: 15px;
    list-style-type: none;
}

.contentNewsletter
{
    padding-top: 33px;
    color:#c0c0c0;
    font-weight: normal;
    font-size: smaller;
}

.email
{    
    border: 1px solid black;
    color:black;
    border-radius: 6px;
    padding: 10px 5px 6px 23px;
    display: flex;
    margin-top: 30px;
    font-size: smaller;
    align-items: center;
    margin-bottom: 10px;
}

input
{
    font-size: medium;
    border: none;
}

label
{
    color: white;
    background-color: rgb(243, 121, 7);
    border: solid rgb(243, 121, 7);
    border-radius: 6px;
    padding: 12px 15px 10px 16px;
}

.textNewsletter
{
    font-size: unset;
}

.textNewsletterBottom
{
    font-size: small;
    margin-top: 15px;
    color:#c0c0c0;
    font-weight: normal;
}

hr
{
    max-width: 96%;
    margin-bottom: 25px;
    opacity: 25%;
}

/* LOWER FOOTER */

.lowerFooter
{
    font-size: smaller;
    max-width: 98%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.lowerFooter li
{
    list-style-type: none;
    display: inline;
    margin-left: 30px;
}

.lowerFooterRight i
{
    width: 27px;
}
/* #id */